<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.bbz.dao.OrderItemDao">

    <insert id="insert" useGeneratedKeys="true" parameterType="com.bbz.model.OrderItem">
      insert into order_item(order_id, unit_price, create_time)
       values
       (#{orderId},#{unitPrice},#{createTime})
    </insert>
</mapper>
