<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.bbz.dao.ProductOrderDao">


    <insert id="insert" useGeneratedKeys="true" keyProperty="id" keyColumn="id" parameterType="com.bbz.model.ProductOrder">
       insert into product_order(`name`, order_no, total_price, pay_type, create_time)
       values
       (#{name },#{orderNo},#{totalPrice},#{payType},#{createTime})
    </insert>
</mapper>
