<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.bbz.core.repository.UserMapper">

    <resultMap id="BaseResultMap" type="com.bbz.core.entity.UserEntity">
        <id column="id" property="id" jdbcType="BIGINT"/>
        <result column="name" property="name" jdbcType="VARCHAR"/>
        <result column="account" property="account" jdbcType="VARCHAR"/>
        <result column="status" property="status" jdbcType="INTEGER"/>
        <result column="pass_word" property="passWord" jdbcType="VARCHAR"/>
        <result column="create_time" property="createTime" jdbcType="BIGINT"/>
        <result column="update_time" property="updateTime" jdbcType="BIGINT"/>
        <result column="lastLogin_time" property="lastLoginTime" jdbcType="BIGINT"/>
        <result column="sex" property="sex" jdbcType="INTEGER"/>
    </resultMap>


    <select id="findUserList" resultMap="BaseResultMap">
            select id, name, account, status, pass_word, create_time, update_time, lastLogin_time, sex from sys_user
    </select>

    <select id="findUserListByNameOrAccount" resultMap="BaseResultMap" parameterType="java.lang.String">
        select id, name, account, status, pass_word, create_time, update_time, lastLogin_time, sex from sys_user
        where 1=1
        <if test="name !=null and name !=''">
            and name =#{name}
        </if>
        <if test="account !=null and account!=''">
            and account =#{account}
        </if>
    </select>

    <select id="findUserByUserId" resultMap="BaseResultMap" parameterType="java.lang.String">
        select id, name, account, status, pass_word, create_time, update_time, lastLogin_time, sex from sys_user where id=#{id}
    </select>

    <insert id="insertUser" useGeneratedKeys="true" parameterType="com.bbz.core.entity.UserEntity">
        insert into sys_user(name, account, pass_word, create_time, update_time, lastLogin_time, sex)
        values (#{name},#{account},#{passWord},#{createTime},#{updateTime},#{lastLoginTime},#{sex})
    </insert>

    <update id="updateUser" parameterType="com.bbz.core.entity.UserEntity">
        update sys_user set name=#{name},account=#{account},status=#{status},update_time=#{updateTime},sex=#{sex} where id=#{id}
    </update>

    <delete id="deleteUserByUserId" parameterType="java.lang.String">
       delete from sys_user where id=#{id}
    </delete>
</mapper>
