<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <script src="js/vue.js"></script>

</head>
<body>

<div id="app">

    <h1 v-if="awesome">Vue is awesome!</h1>
    <h1 v-else>Oh no 😢</h1>

    <div v-if="Math.random()>0.5">
        Now you see me
    </div>
    <div v-else>
        Now you don't
    </div>

    <button @click="change">改变</button>
</div>

<script>
    const vm = new Vue({
        el: '#app',
        data: {
            awesome: true
        },
        methods: {
            change: function () {
                this.awesome = !this.awesome;
            }
        }
    })
</script>
</body>
</html>