<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <script src="js/vue.js"></script>
    <script src="js/axios.min.js"></script>


</head>
<body>


<div id="app">
    <input type="text" v-model="name" placeholder="订单名称">
    <input type="text" v-model="orderNo" placeholder="订单编号">

    <table>
        <th>id</th>
        <th>name</th>
        <th>orderNo</th>
        <th>totalPrice</th>
        <th>payType</th>
        <th>createTime</th>
        <tr v-for="order in orders" :key="order.id">
            <td>{{order.id}}</td>
            <td>{{order.name}}</td>
            <td>{{order.orderNo}}</td>
            <td>{{order.totalPrice}}</td>
            <td>{{order.payType}}</td>
            <td>{{order.createTime}}</td>
        </tr>
    </table>
    <button @click="getOrder()">搜索</button>
</div>


<script>

    const vm = new Vue({
        el: '#app',
        data: {
            orders: [],
            name: '',
            orderNo: ''
        },
        methods: {
            getOrder: function () {
                axios.get("http://localhost:8081/getProductOrderParam", {
                    params: {
                        name: this.name,
                        orderNo: this.orderNo
                    }
                }).then(response => {
                    console.log(JSON.stringify(response))
                    this.orders = response.data;
                }, function (error) {
                    console.log("获取数据失败")
                });
                //拦截器
                // axios.interceptors.request.use(function (config) {
                //
                //     return Promise.resolve();
                // },function () {
                //     return Promise.reject()
                // })
            }
        },
        created() {
            this.getOrder();
        }
    })
</script>
</body>
</html>